<%= render partial: "vote_question", layout: false, object: @question %>
<h1><%= @question.title %></h1> : <%= @question.content %></h1>
<%= link_to 'comment', new_question_comment_path(@question) %>

<% @question.comments.each do |comment| %>
<p><%= comment.content %> By:  <%= comment.commenter.username %>  <%= comment.updated_at %></p>
<% end %>


<% if current_user == @question.user %>
  <%= link_to 'Delete Question', question_path(@question), method: :delete %>
  <%= link_to 'Edit Question', edit_question_path(@question)%>
<% if @question.status == 'open' %>
 <%= form_for @question, url: "/questions/#{@question.id}/lock", method: :put do |t| %>
     <%= t.hidden_field :status, :value=>"lock"%>
     <%= t.submit "Lock post" %>
   <% end %>
   <%end %>
<% end %>

<ul>
  <h3> Current Answers </h3>
  <% if @question.status == 'lock'%>
  <h4>This post is locked</h4>
  <% end %>
  <% @answers.each do |answer| %>
    <%= render partial: "vote_answer", layout: false, object: answer %>
    <li>Content:<%= answer.content %></li>
     <% if current_user == answer.user %>
      <li><%= link_to 'Edit Answer', edit_question_answer_path(@question, answer)%></li>
      <li><%= link_to 'Delete Answer', question_answer_path(@question, answer), method: :delete %></li>
    <%end%>
    <li>

<%= link_to 'comment', new_question_answer_comment_path(@question, answer) %>
      <% answer.comments.each do |comment| %>
      <p><%= comment.content %> By:  <%= comment.commenter.username %>  <%= comment.updated_at %></p>
<% end %>
    </li>


  <li>Author:<%= answer.user.username %></li>
  <% end %>
</ul>

<% if logged_in? && current_user != @question.user && !locked?(@question)%>

  <%= form_for [@question, @answer] do |f| %>
  <div>
    <%= f.label :content%>
    <%= f.text_field :content%>
  </div>
  <div>
    <%= f.submit value='Add Answer'%>
  </div>
  <%end%>
<% end%>


