
<h1>Edit Comment for <%= @context.content %></h1>


<%= form_for [@context, @comment], url: edit_two_url(@context, @comment), method: :put do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", placeholder: "Enter a comment here." %>
  </div>
  <%= f.submit %>
<% end %>


