<h1>New Comment for <%= @context.name %></h1>


<%= form_for [@context, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", placeholder: "Enter a comment here." %>
  </div>

  <%= f.submit %>
<% end %>
