<h1>New Comment for <%= @context.content %></h1>


<%= form_for [@context, @comment], url: question_answer_comments_path(@context.question_id, @context.id), method: :post do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", placeholder: "Enter a comment here." %>
  </div>

  <%= f.submit %>
<% end %>
