<!DOCTYPE html>
<html>
<head>
  <title>MkeOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="flash">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash-#{name}" %>
    <% end %>
  </div>
  <div class="navigation-bar">
    <% if current_user %>
       Welcome <%= link_to current_user.username, user_path(current_user) %>
       <%= link_to 'Log out', session_path(current_user.id), method: :delete %>
    <% else %>
       <%= link_to 'Log in', new_session_path %>
       <%= link_to 'Register', new_user_path%>
    <% end %>
    <%= link_to 'Home', root_url %>
    <%= link_to 'Most Voted Questions', popular_path %>
  </div>
<%= yield %>

</body>
</html>
