<!DOCTYPE html>
<html>
<head>
  <title>MkeOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="flash">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash-#{name}" %>
    <% end %>
  </div>
  <h1> WELCOME TO MKE OVERFLOW</h1>
  <ul>
  <div class="navigation-bar">
    <% if current_user %>
       <li>Welcome <%= link_to current_user.username, user_path(current_user) %></li>
      <li><%= link_to 'Log out', session_path(current_user.id), method: :delete %></li>
    <% else %>
      <li> <%= link_to 'Log in', new_session_path %></li>
       <li><%= link_to 'Register', new_user_path%></li>
    <% end %>
    <%= link_to 'Home', root_url %>
    <%= link_to 'Most Recent', root_url %>
    <%= link_to '#Trending', popular_path %>
    <%= link_to '#Tags', tags_path %>
  </div>
<%= yield %>
</ul>
</body>
</html>
